@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
   
}
body{
    background-color: #fdf4e7;
}
/* style de la première page  */
/* style de mon header (présent dans 2nd page) */
header{
    display: flex;
    background-color: #fdf4e7;
    align-items: center;
    padding: 20px 0px;
    min-height: 10vh;
}

header figure{
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 100px;
    
}
header figure a {
    text-decoration: none;
    color: #f55943;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: 700;
    
}

header nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid #f55943;
    border-radius: 5px;
    background-color: #f55943;
    
}

#disclaimer{
    
    display: flex;
    justify-content: center;
    min-height: 2vh;
    background-color: white;
    
}

#disclaimer img{
    width: 20px;
    margin-left: 10px;
}

/* style de ma zone de flotaison  */
/* possibilité d'améliorer mon code, pour une facilité pour le responsive */


#main section{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 27%;
    background-color: white;
    margin-left: 550px;
    height: 450px;
    margin-top: 250px;
    position: absolute;
    left: -150px;
    top: -60px;
}

#main {
    background-color: #ffd470;
    display: flex;
    min-height: 87vh;
    position: relative;
}

#main figure img{
    width: 700px;
    height: 560px;

}
#circle {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    
}
#circle div {
    width: 15px;
    height: 15px;
    background-color: #ffd470;
    border-radius: 10px;
    border: 1px solid #f55943;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

#main hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f55943;
    margin-top: 45px;
    
    
}

#main p {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    
}

#main input {
    width: 50%;
    margin: auto;
    padding: 15px;
    background-color: #f55943;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}

#main figure{
   display: flex;
   flex-direction: row-reverse;
   margin-left: 20%;
   
   width: 100%;
   align-items: center;
   justify-content: center;   
}


/* style de la section who we are  */

#content{
    background-color: #fdf4e7;
    width: 70%;
    margin: auto;
}

#content h2 {
    font-size: 35px;
    color: #f55943;
}

#about-us{
    margin-top: 50px;
}

#about-us p{
    font-size: 25px;
    margin-top: 40px;
    line-height: 45px;
}
#about-us p a {
    text-decoration: none;
    color: #f55943;
    font-weight: 700;
}

#content span {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: black;
    
}

#commitment{
    margin-top: 50px;
}

#commitment-content{
    display: flex;
    align-items: center;
    margin-top: 70px;
    padding: 10px;
    
}
.content {
    width: 25%;
    margin: auto;
    text-align: center;
    
}

#commitment img{
    width: 100px;
}

#commitment-content p{
    font-size: 20px;
    padding: 20px;
    
}

/* style du footer  (présent dans la 2nd page)*/

footer {
    background-color: #ffd470;
}

#logo {
   text-align: center;
   margin-top: 20px;
   padding-top: 20px; 
}
#slogan {
    text-align: center;
    font-size: 20px;
}
#button-container{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 40px;
    
    
}
.button-footer{
    display: flex;
    background-color: black;
    color: white;
    width: 30%;
    border: 1px solid white;
    border-radius: 10px;
}

.button-footer img{
    width: 50px;
}

.button-content{
    justify-content: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
    
}

.button-content p:nth-child(2){
    font-size: 20px;
}
.thank{
    text-align: center;
    
    
}

.thank p:nth-child(2){
    padding-bottom: 25px;
} 




/* style de la seconde page  */
/* style du contenue de la page, des fenêtre qui vont récupérer les infos */

#main-meal{
    background-color: #fdf4e7;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
    
}

#main-meal h1{
    font-size: 40px;
    text-align: center;
}

#main-meal h2{
    padding-left: 20px;
    padding-top: 15px;
}

#main-meal{
    list-style-type: circle;
    justify-content: space-around;
    margin-top: 30px;
}

#content-ingredient {
    background-color: #ffd470;
    width: 26%;
    margin-top: 40px;
    border: 1px solid #f55943;
    border-radius: 20px;
}

#circle-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    padding-top: 15px;
}

#circle-2 div{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #f55943;
    border:1px solid white;
}

#circle-2 p{
    color: white;
    font-size: 30px;
    font-style: italic;
}

#image-meal{
    width: 70%;
    margin: auto;
}

#ingredient{
    display: flex;
    text-align: left;
    margin-top: 15px;
}
.ingredient{
    justify-content: space-between;
    width: 40%;
    margin: auto;
    
}
#recipe{
    padding: 20px;
    font-size: 12px;
}

#main-meal input {
    width: 50%;
    margin: auto;
    padding: 15px;
    background-color: #f55943;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#button-video{
    display: flex;
}

#name-meal{
    text-align: center;
}
#category{
    text-align: center;
}

#image-meal {
    width: 60%;
    margin: auto;
    text-align: center;
    
}
#image-meal img {
    width: 200px;
    
}








